# Admin Credentials
ADMIN_1_USERNAME=i
ADMIN_1_PASSWORD=admin1pass
ADMIN_2_USERNAME=a
ADMIN_2_PASSWORD=admin2pass

# Asynchronous Database Connection (PostgreSQL + asyncpg)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/food_castle_db
